include ./header.jade

// header comes here
.row.column.text-center
  h2 Now showing
  hr
.row.small-up-2.large-up-6
  // movie item
  for movie in movies
    .column.text-center  
      a(href='/movie/'+'#{movie.original_title}')
        img.thumbnail(src='https://image.tmdb.org/t/p/w396/#{movie.poster_path}')
        h5 #{movie.original_title}
        p #{movie.vote_average}
  // movie item
.row
  ul.pagination.text-center(role='navigation', aria-label='Pagination')
    li.pagination-previous.disabled
      a(href='/int/now/'+'#{page-1}', aria-label='Previous') Previous
    li.current
      span.show-for-sr Page
      a(href='/int/now/'+'#{page}', aria-label='Page #{page}')  #{page}
    li
      a(href='/int/now/'+'#{page+1}', aria-label='Page #{page+1}')  #{page+1}
    li
      a(href='/int/now/'+'#{page+2}', aria-label='Page #{page+2}')  #{page+2}
    li
      a(href='/int/now/'+'#{page+3}', aria-label='Page #{page+3}')  #{page+3}
    li.ellipsis
    li
      a(href='/int/now/'+'#{page+4}', aria-label='Page #{page+10}')  #{page+10}
    li
      a(href='/int/now/'+'#{page+5}', aria-label='Page #{page+11}')  #{page+11}
    li.pagination-next
      a(href='/int/now/'+'#{page+1}', aria-label='Next page') Next
// footer comes here

include ./footer.jade
