include ./header.jade


.row.small-up-2.medium-up-3.large-up-4
  // movie item
  for movie in soon
    .column.text-center
      a(href='/movie/#{movie.original_title}')  
        img(src='https://image.tmdb.org/t/p/w396/'+'#{movie.poster_path}', alt='#{movie.original_title}')
        h5 #{movie.original_title}
        | Score: #{movie.vote_average}
        p Release Date: #{movie.release_date}
.row
  ul.pagination.text-center(role='navigation', aria-label='Pagination')
    li.pagination-previous.disabled
      a(href='/int/soon/'+'#{page-1}', aria-label='Previous') Previous
    li.current
      span.show-for-sr Page
      a(href='/int/soon/'+'#{page}', aria-label='Page #{page}')  #{page}
    li
      a(href='/int/soon/'+'#{page+1}', aria-label='Page #{page+1}')  #{page+1}
    li
      a(href='/int/soon/'+'#{page+2}', aria-label='Page #{page+2}')  #{page+2}
    li
      a(href='/int/soon/'+'#{page+3}', aria-label='Page #{page+3}')  #{page+3}
    li.ellipsis
    li
      a(href='/int/soon/'+'#{page+4}', aria-label='Page #{page+10}')  #{page+10}
    li
      a(href='/int/soon/'+'#{page+5}', aria-label='Page #{page+11}')  #{page+11}
    li.pagination-next
      a(href='/int/soon/'+'#{page+1}', aria-label='Next page') Next


include ./footer.jade
